<h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="Instructions_to_Compile_and_Run_the_Monitors_0"></a>Instructions to Compile and Run the Monitors</h1>
<p class="has-line-data" data-line-start="1" data-line-end="2">This README file briefly explains the steps necessary to compile and run the monitors shown in the paper “Mission Development by Combining Temporal Task Planning and Runtime Verification”.</p>
<h2 class="code-line" data-line-start=3 data-line-end=4 ><a id="System_Requirements_3"></a>System Requirements</h2>
<p class="has-line-data" data-line-start="4" data-line-end="5">To compile the monitors, you will need</p>
<ul>
<li class="has-line-data" data-line-start="5" data-line-end="6">Go version 1.16 or newer</li>
<li class="has-line-data" data-line-start="6" data-line-end="7">Python version 3.7 or newer</li>
<li class="has-line-data" data-line-start="7" data-line-end="9">Stack version 2.7.3 or newer</li>
</ul>
<h2 class="code-line" data-line-start=9 data-line-end=10 ><a id="HLola_Source_Code_9"></a>HLola Source Code</h2>
<p class="has-line-data" data-line-start="10" data-line-end="11">This zip contains the source code of the tool HLola<sup class="footnote-ref"><a href="#fn1" id="fnref1">[1]</a></sup><sup class="footnote-ref"><a href="#fn2" id="fnref2">[2]</a></sup> along with the specifications of the monitors mentioned in the paper, in the folder <code>monitors</code>.</p>
<h3 class="code-line" data-line-start=12 data-line-end=13 ><a id="Compile_the_Compiler_12"></a>Compile the Compiler</h3>
<p class="has-line-data" data-line-start="13" data-line-end="15">To compile a monitor, you will first need to generate the compiler from source, using Go.<br>
Navigate to the folder <code>frontend/hlolac/preproc</code> and run:</p>
<pre><code class="has-line-data" data-line-start="16" data-line-end="18">frontend/hlolac/preproc$ go build
</code></pre>
<h3 class="code-line" data-line-start=19 data-line-end=20 ><a id="Compile_a_Monitor_19"></a>Compile a Monitor</h3>
<p class="has-line-data" data-line-start="20" data-line-end="21">To compile the monitor <code>cameracontrol.hlola</code>, navigate to the folder <code>monitors</code> and run the compiler using</p>
<pre><code class="has-line-data" data-line-start="22" data-line-end="24">monitors$ python3 ../frontend/hlolac/hlolac.py -o cameracontrol cameracontrol.hlola
</code></pre>
<p class="has-line-data" data-line-start="24" data-line-end="28">This will generate a binary <code>cameracontrol</code> in the working directory (<code>monitors</code>).<br>
The rest of the monitors can be compiled analogously.<br>
Bear in mind that the first time a monitor is compiled, the Stack compiler will set up a local Haskell environment and will download all the necessary dependencies, which may take several minutes.<br>
Successive compilations of the same or other monitors will be considerably faster.</p>
<h3 class="code-line" data-line-start=29 data-line-end=30 ><a id="Run_a_Monitor_29"></a>Run a Monitor</h3>
<p class="has-line-data" data-line-start="30" data-line-end="32">The monitors take input streams in JSON format through the standard input, and produce output streams in JSON format through the standard output.<br>
This eases their usage from an external program, as is the hybrid controller in our setup.</p>
<h2 class="code-line" data-line-start=33 data-line-end=34 ><a id="List_of_Monitors_33"></a>List of Monitors</h2>
<p class="has-line-data" data-line-start="34" data-line-end="35">We provide nine specifications, which we have used successfully in the empirical evaluation of the work in the paper.</p>
<h3 class="code-line" data-line-start=36 data-line-end=37 ><a id="Back_and_Forth_No_Decomposition_36"></a>Back and Forth (No Decomposition)</h3>
<p class="has-line-data" data-line-start="37" data-line-end="38">The file <code>backforth.hlola</code> contains the specification in charge of implementing the “Back and Forth” strategy with a single region.</p>
<h3 class="code-line" data-line-start=39 data-line-end=40 ><a id="Back_and_Forth_Camera_Control_39"></a>Back and Forth (Camera Control)</h3>
<p class="has-line-data" data-line-start="40" data-line-end="41">The specification in <code>cameracontrol.hlola</code> is in charge of taking pictures when the UAV has moved far enaough and is in the corresponding state.</p>
<h3 class="code-line" data-line-start=42 data-line-end=43 ><a id="Back_and_Forth_Exact_Decomposition_42"></a>Back and Forth (Exact Decomposition)</h3>
<p class="has-line-data" data-line-start="43" data-line-end="44">The monitor of the specification <code>multipolys.hlola</code> implements the additional monitor for the “Back and Forth” strategy with exact cellular decomposition, necessary to deal with multiple regions.</p>
<h3 class="code-line" data-line-start=45 data-line-end=46 ><a id="Edge_Counting_PatrolGRAPH_and_LRTA_45"></a>Edge Counting, PatrolGRAPH* and LRTA*</h3>
<p class="has-line-data" data-line-start="46" data-line-end="48">The specification in <code>discretecover.hlola</code> implements the coverage of a matrix ensuring that every node is visited at least <code>minvisits</code> times before the mission is over, using one of the strategies “Edge Counting”, “Node Counting” or “Learning Real Time A*”.<br>
You can modify the constants <code>minvisits</code> and <code>go</code> to try different behaviors.</p>
<h3 class="code-line" data-line-start=49 data-line-end=50 ><a id="Recursive_NonUniform_Coverage_49"></a>Recursive Non-Uniform Coverage</h3>
<p class="has-line-data" data-line-start="50" data-line-end="53">The specification in <code>recursivecoverage.hlola</code> implements the coverage of a terain capturing pictures at high altitudes and only going lower for refinement on those regions in which something interesting may be present.<br>
It implements two strategies: <code>DFS</code> search over the underlying tree of regions, and a <code>Heuristic</code> search to avoid going up if a region has been covered and something interesting was being detected, under the assumption that it is likely that something interesting will be found in the area nearby.<br>
You can switch between these two strategies modifying the variable <code>mode</code>.</p>
<h3 class="code-line" data-line-start=54 data-line-end=55 ><a id="Wavefront_Algorithm_54"></a>Wavefront Algorithm</h3>
<p class="has-line-data" data-line-start="55" data-line-end="56">The monitor of the specification <code>wavefront.hlola</code> iterates over a previously given list of locations every time a new instruction is required, implementing the Wavefront algorithm.</p>
<h3 class="code-line" data-line-start=57 data-line-end=58 ><a id="Concrete_Example__Monitor_1_Sense_57"></a>Concrete Example - Monitor 1 (Sense)</h3>
<p class="has-line-data" data-line-start="58" data-line-end="59">The monitor of the specification in <code>sense.hlola</code> computes if a person has been detected and reports the result when queried.</p>
<h3 class="code-line" data-line-start=60 data-line-end=61 ><a id="Concrete_Example__Monitor_2_Stability_Check_60"></a>Concrete Example - Monitor 2 (Stability Check)</h3>
<p class="has-line-data" data-line-start="61" data-line-end="62">The specification <code>stable.hlola</code> calculates if the UAV is stable.</p>
<h3 class="code-line" data-line-start=63 data-line-end=64 ><a id="Concrete_Example__Monitor_3_Drop_Behavior_63"></a>Concrete Example - Monitor 3 (Drop Behavior)</h3>
<p class="has-line-data" data-line-start="64" data-line-end="65">The file <code>drop.hlola</code> specifies the behavior of the UAV when it is requested to drop a packet.</p>
<hr class="footnotes-sep">
<section class="footnotes">
<ol class="footnotes-list">
<li id="fn1"  class="footnote-item"><p class="has-line-data" data-line-start="66" data-line-end="67"><em><a href="https://doi.org/10.1007/978-3-030-64437-6_2">“Declarative Stream Runtime Verification (hLola)”</a></em>. Martín Ceresa, Felipe Gorostiaga, César Sánchez. <a href="#fnref1" class="footnote-backref">↩</a></p>
</li>
<li id="fn2"  class="footnote-item"><p class="has-line-data" data-line-start="67" data-line-end="68"><em><a href="https://doi.org/10.1007/978-3-030-72013-1_18">“HLola: a Very Functional Tool for Extensible Stream Runtime Verification”</a></em>. Felipe Gorostiaga, César Sánchez. <a href="#fnref2" class="footnote-backref">↩</a></p>
</li>
</ol>
(Page automatically generated from README.md using https://dillinger.io/)
</section>
